/* For devices below medium size (phones) */

html, body {
  height: 85%;
}

.hidden {
  display: none !important;
}

body {
  text-align: center;
  margin-top: 25%;
  color: #505050;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

form {
  flex: 1 0 auto;
}

::placeholder {
  color: lightgray;
}

/* Error page */
button {
  margin: auto;
  width: 30%;
}

img {
  max-width: 300px;
  margin: auto;
}

/* Top portion */
h1 {
  font-size: 5em;
  font-family: 'Barriecito', cursive;
  color: #5f817e;

}

#o,
#h,
.i {
  color: #ffdd1e;
}
#e,
#c {
  color: #ffc934;
}

.t {
  color: #F39A96;
}

span {
  transition: transform ;
  display: inline-block;
  cursor: default;
}

/* Animation for the logo */
span:hover {
  transform: scale(1.5);
}

h1, .address {
  display: block;
}

/* Address portion */
.address {
  border: solid;
  border-color: lightgray;
  border-radius: 100px;
  border-width: 1px;
  margin: 1vw;
  position: relative;
  background-color: white;
}

.address:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.address input,
.address p {
  width: 90%;
  font-size: 3em;
}

.address p {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.address input {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
}

.address button {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 5%;
  position: absolute;
  right: 20px;
  outline: none;
}

.address button:hover {
  color: lightgray;
}

/* Options portion */

.options {
  display: block;
  margin: 2vw;
}

/* Transport + Price */

.btn-group {
  display: inline-block;
  margin: 1vw;
  text-align: left;
}

h5 {
  display: inline-flex;
  margin: 0;
  font-size: 2em;
}

.btn {
  margin-top: 20px;
}

/* Price checkboxes */

.btn-group input {
  transform: scale(2);
  margin-right: 20px;
}

label {
  font-size: 2em;
}

/* Transport checkboxes */

#transport {
  margin-right: 100px;
}

.fa {
  font-size: 37px;
}

/* Options dropdowns */

#dropdowns input {
  font-size: 2em;
  border: solid;
  border-width: 1px;
  font-family: 'Roboto', sans-serif;
  border-color: lightgray;
  color: #505050;
}

#dropdowns input:focus{
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  outline: none;
}

input[name="cuisine"] {
  width: 30%;
}

input[name="rating"] {
  width: 20%;
}

/* Submit Button */

button[type="submit"] {
  display: block;
  margin: auto;
  font-size: 2.5em;
  width: 20%;
  border-radius: 10px;
  border: none;
  background-color: #e8e8e8;
  font-family: 'Roboto', sans-serif;
  color: #505050;
}

button[type="submit"]:hover {
  background-color: #f0f0f0;
  color: red;
  border: solid;
  border-width: 1px;
  border-color: darkgray;
}

/* Autocomplete */

.pac-item-query,
.pac-item {
  font-size: 1.5em;
}

.pac-item {
  height: 2.5em;
  padding-top: 30px;
}

.pac-icon {
  transform: scale(2);
  margin-right: 10px;
}


/* Footer */

#footer {
  flex-shrink: 0;
  margin-top: auto;
}

footer {
  margin-top: 10px;
}

em {
  font-weight: 700;
  color: red;
}


/* For landscape */
@media screen and (orientation: landscape) {
  body {
    margin-top: 0;
  }
}

/* Large devices (laptops, tablets, desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    margin-top: 10%;
  }

  h1 {
    font-size: 3.5em;
  }

  /* Error Page */
  img {
    max-width: 500px;
  }

  /* Address */

  .address {
    margin: auto;
    width: 70%;
  }

  .address input,
  .address p {
    font-size: 1em;
  }

  .address button {
    right: 0;
  }


  /* Icons */

  .fa {
    font-size: 20px;
  }

  /* Options */

  /* Transport + Price */

  .btn {
    margin: 0 15px;
    display: inline-block;
  }

  h5,
  label,
  #dropdowns input {
    font-size: 1.5em;
  }

  .btn-group input {
    transform: none;
  }

  #transport {
    margin-right: 50px;
  }

  /* Autocomplete */

  .pac-item-query,
  .pac-item {
    font-size: 11px;
  }

  .pac-item {
    height: auto;
    padding-top: 0;
  }

  .pac-icon {
    transform: none;
    margin-right: 7px;
  }

  /* Dropdowns */

  input[name="rating"] {
    width: 10%;
  }

}

/* For large devices and above (desktop) */
@media screen and (min-width: 1200px) {
  /* Cuisine Dropdown */
  input[name="type"] {
    width: 15%;
  }
  /* Submit Button */

  button[type="submit"] {
    width: 10%;
    font-size: 2em;
  }
}